*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    background-color: rgb(255, 255, 255);
    
}

.bimage {
    width: 100%;
    height: 140vh;
    background-image: url(photo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.headtext {
    color: white;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.hp {
    color: rgb(37, 43, 45);
    font-size: 30px;
    float: right;
    font-style: oblique;
    padding-top: 10px;
    
}

li {
    display: inline-block;
    margin: 5px 10px;
    padding: 15px;
}

.p1 {
    color: white;
    font-size: 60px;
    padding-right: 20px;
    text-align: right;
}

.p2 {
    color: white;
    font-size: 40px;
    text-align: right;
    padding-right: 20px;
}

.p3 {
    color: white;
    font-size: 20px;
    text-align: center;
}

.pic1 {
    padding-left: 425px;
}

footer {
    color: white;
    text-align: center;
    background-color: rgb(50, 49, 48);
    font-size: 30px;
}